/*
Author: Terry Allee
Date: November 17th, 2024, December 
File Name: breakout.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}
/* Body Style */
body {
    text-align: center;
    background-color: purple;
    color: white;
    font-family: Arial, sans-serif;
}

/* Center content */
canvas {
    display: block;
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
  }
  
  /* Score the container for styling */
  #scoreContainer {
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
    color: white;
  }
/* 
Remember, since the canvas element has the id=myCanvas, selecting it
for styling can be as easy as:

 #myCanvas {
    border-style: solid;
} 

/* Reset Button Styling */
#resetButton {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    background-color: #007acc;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer
  }
/* Resets the Hover effect */
#resetButton:hover {
    background-color: #007acc;
}
